KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

IGRP_NEXTAUTH_CALLBACK=
IGRP_APP_MANAGER_API=
IGRP_APP_CODE=
IGRP_PREVIEW_MODE="true"
IGRP_APP_CENTER_URL=
IGRP_LOGIN_URL=
IGRP_LOGOUT_URL=
IGRP_APP_BASE_PATH=
IGRP_APP_HOME_SLUG=
IGRP_APP_LOGOUT=
IGPR_APP_LOGIN=
IGRP_NEXTAUTH_CALLBACK=

NEXT_PUBLIC_API_GATEWAY="http://localhost:8085"