KEYCLOAK_CLIENT_ID="access-management"
KEYCLOAK_CLIENT_SECRET="your-client-secret"
KEYCLOAK_ISSUER="http://localhost:8080/realms/your-realm"
NEXTAUTH_URL="http://localhost:3000/api/auth"
NEXTAUTH_URL_INTERNAL='http://localhost:3000'
NEXTAUTH_SECRET="your-nextauth-secret"

NEXT_PUBLIC_BASE_PATH=""

IGRP_APP_MANAGER_API="https://api-gateway.nosi.cv/access-manager"
IGRP_APP_CODE="demo"
IGRP_PREVIEW_MODE="false"
IGRP_APP_NAME_DESCRIPTION="YOUR APP DESCRIPTION NAME"

IGRP_APP_CENTER_URL="http://localhost:3000/app-center"

IGRP_APP_HOME_SLUG=""

API_GATEWAY="http://localhost:8085"
